Adds 7 distribution tests.
