Adds 9 tests.
