Adds 6 tests.
