Adds 5 tests.
