Adds 7 tests.
