Adds 8 tests.
